html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    background-color: #ffffff;
}

html {
    height: 100%; 
}

body {
    display: flex; 
    flex-direction: column;
    min-height: 100vh; 
    background-color: #ede5cc;
}

.flex-grow-1 {
    flex-grow: 1; 
}

.p-5.mb-4.bg-light.rounded-3 {
    background-color: #f5ac3f !important;
    border: 1px solid #dee2e6;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.list-group {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    border-radius: .3rem;
}

.list-group-item {
    background-color: #f5ac3f;
}

.form-panel {
    background-color: #f5ac3f; 
    padding: 2rem; 
    border-radius: .3rem;
    border: 1px solid #dee2e6;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.navbar {
    background-color: #52aa24 !important; 
}